@import url("https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display&display=swap");
.profile__dropdown {
  position: relative;
  display: inline-block;
}

.profile__dropdown-menu {
  display: none;
  position: absolute;
  width: 100px;
}

.profile__dropdown-menu a {
  color: #778DAD;
  background-color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  padding-left: 20px;
}

.profile__dropdown-menu a:hover {
  color: #272829;
  background-color: #E5E5E5;
}

.profile__dropdown:hover .profile__dropdown-menu {
  display: flex;
  flex-direction: column;
  margin-left: -70%;
  z-index: 100;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.profile__dropdown-logout {
  border-top: 1px solid #778DAD;
}

.menu-item__logo {
  margin-left: 50px;
  margin-right: 25px;
  text-align: right;
}

.menu-item__name {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.left-panel__menu {
  max-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-panel__menu-item {
  color: #8DA1B5;
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 30px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.left-panel__menu-item:hover {
  color: #272829;
}

.left-panel__menu-item--active {
  color: #272829;
  border-right: 4px solid #5E81F4;
  cursor: default;
}

.left-panel__upgrade {
  height: 180px;
  width: 150px;
  background: #F5F5FB;
  border-radius: 12px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.left-panel__upgrade-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.left-panel__upgrade-logo {
  margin-top: -30px;
}

.left-panel__upgrade-img {
  width: 60px;
  height: auto;
}

.left-panel__upgrade-text {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #778DAD;
  text-align: center;
  margin-top: 20px;
}

.left-panel__upgrade-button {
  margin-top: 10px;
  width: 100px;
}

.left-panel__upgrade-button, .left-panel__join-button {
  background: #5E81F4;
  color: white;
  height: 48px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
}

.left-panel__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 24px;
}

.left-panel__logo-square {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  background-color: #5E81F4;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

.left-panel__logo-square div {
  margin-top: -4px;
}

.left-panel__logo-text {
  margin-top: 2px;
  margin-left: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #5E81F4;
}

.left-panel {
  background: white;
}

.left-panel .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-panel__top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-panel__join {
  margin-top: 20px;
}

.left-panel__join-button {
  width: 192px;
}

.course {
  background: white;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.course--big {
  grid-area: big;
}

.course:nth-child(1) {
  background-image: url("../src/img/png/image 20.png");
}

.course:nth-child(2) {
  grid-area: small1;
  background-image: url("../src/img/png/image 23.png");
}

.course:nth-child(3) {
  grid-area: small2;
  background-image: url("../src/img/png/image 24.png");
}

.course .container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.course__top-left {
  margin: 30px;
}

.course__top-right {
  margin: 30px;
}

.course__top-right .course__size {
  float: right;
}

.course__bottom-left {
  margin: 30px;
  position: relative;
}

.course__bottom-left .course__run-button {
  position: absolute;
  bottom: 0;
  left: 0;
}

.course__bottom-right {
  margin: 30px;
  position: relative;
}

.course__bottom-right .course__teacher {
  position: absolute;
  bottom: 0;
  right: 0;
}

.course__name {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: white;
}

.course__lesson-number {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: white;
  opacity: .8;
}

.course__size {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: white;
  opacity: .8;
  margin-top: 5px;
}

.course__run-button {
  border: none;
  width: 43px;
  height: 43px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
}

.course__run-button i {
  width: 18px;
  height: 18px;
  color: white;
  margin-top: 3px;
  margin-left: 2px;
}

.course__teacher {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid white;
  background-image: url("../src/img/png/image 21.png");
}

.top-menu__searching {
  width: 50%;
  height: 56px;
  background: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.top-menu__searching i {
  color: #AAB8C6;
  width: 20px;
  height: 20px;
  margin-left: 23px;
  margin-right: 14px;
}

.top-menu__searching-input {
  width: inherit;
  margin-right: 23px;
  border: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #272829;
}

.middle-part {
  background: #E5E5E5;
  display: grid;
  grid-template-rows: 1fr 6fr;
  height: 100vh;
  overflow-y: scroll;
}

.middle-part::-webkit-scrollbar {
  display: none;
}

.top-menu .container {
  margin-top: 24px;
  margin-left: 40px;
  margin-right: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.top-menu__notifiaction i {
  width: auto;
  height: 25.1px;
  color: #768492;
}

.courses__nav {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.courses__category {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 21px;
  height: 26px;
  width: auto;
  color: #8DA1B5;
}

.courses__category:hover {
  color: #5E81F4;
}

.courses__category--active {
  color: #5E81F4;
  position: relative;
  cursor: default;
}

.courses__category--active span {
  display: block;
  position: absolute;
  background: #5E81F4;
  left: calc(50% - 7.5px);
  bottom: 0;
  width: 15px;
  height: 2px;
  margin-top: 10px;
}

.courses__category-name {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: #272829;
}

.courses__categories {
  display: flex;
  width: 30%;
  max-width: 319px;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}

.courses {
  display: grid;
  grid-template-rows: 1fr 6fr;
}

.courses__table {
  margin-left: 40px;
  margin-right: 32px;
  margin-top: 20px;
  margin-bottom: 24px;
  display: grid;
  grid-gap: 20px;
  grid-template: "big big" "small1 small2";
}

.right-part__banner {
  margin-left: 32px;
}

.banner {
  margin-top: 34px;
  width: 300px;
  height: 232px;
  background-image: url(../src/img/png/download.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 14px;
}

.banner__link {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.banner__link-logo {
  width: auto;
  height: 20px;
}

.banner__link i {
  font-size: 20px;
  color: #272829;
}

.banner__links {
  display: flex;
  flex-direction: row;
  margin-left: 24px;
  margin-top: 16px;
}

.banner__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* or 133% */
  color: #011F3B;
  margin-left: 24px;
}

.right-part__course {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 17px;
  width: 100%;
  max-width: 312px;
  position: relative;
}

.right-part__course-logo {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.right-part__course-logo--blue {
  background: #EEF2FD;
  color: #5E81F4;
}

.right-part__course-logo--green {
  background: #D5F5FB;
  color: #0CC3E7;
}

.right-part__course-logo--orange {
  background: #FFEFD6;
  color: #FFAE33;
}

.right-part__course-info {
  margin-left: 15px;
}

.right-part__course-name {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #272829;
}

.right-part__course-date, .right-part__course-difficulty {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #83919E;
  margin-top: 5px;
}

.right-part__course-progress {
  position: absolute;
  right: 0;
  margin-right: 30px;
  width: 104px;
  height: 8px;
  border-radius: 21px;
}

.right-part__course-progress--blue {
  background: #EEF2FD;
}

.right-part__course-progress--blue .right-part__course-bar {
  background: #5E81F4;
}

.right-part__course-progress--green {
  background: #D5F5FB;
}

.right-part__course-progress--green .right-part__course-bar {
  background: #0CC3E7;
}

.right-part__course-progress--orange {
  background: #FFEFD6;
}

.right-part__course-progress--orange .right-part__course-bar {
  background: #FFAE33;
}

.right-part__course-bar {
  height: 8px;
  border-radius: 21px;
}

.right-part__course-bar--one {
  width: 80px;
}

.right-part__course-bar--two {
  width: 40px;
}

.right-part__course-bar--three {
  width: 60px;
}

.profile__photo {
  margin-left: 32px;
}

.profile__photo-img {
  width: 56px;
  height: 56px;
  border-radius: 12px;
}

.profile__name {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-left: 26px;
  color: #272829;
}

.profile__tip {
  margin-left: 20px;
}

.profile__tip i {
  font-size: 16px;
  color: #272829;
}

.right-part {
  height: 100vh;
  overflow-y: scroll;
  background: white;
}

.right-part::-webkit-scrollbar {
  display: none;
}

.right-part .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-part__profile {
  position: fixed;
  z-index: 99;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 12px;
  height: 80px;
  background-color: white;
}

.right-part__progress, .right-part__tasks {
  margin-left: 32px;
}

.right-part__progress {
  margin-top: 122px;
}

.right-part__item-title {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 20px;
}

body,
html {
  padding: 0px;
  margin: 0px;
  cursor: default;
}

:focus {
  outline: none;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 6fr 3fr;
  height: 100vh;
  min-height: 500px;
}
