$backgroung_color_darkgray: #383838;
$backgroung_color_black: rgb(32, 32, 32);

$banner-gray: #F5F5FB;

$font-color-white: white;
$font-color-gray: #9cb2c7;
$font-color-gray2:#d5dbe6;
$backgroung_color_light: #ffffff;
$font-color-verydark:#d1d1d1;

$main-color-purple: #5E81F4;


@import './right-part/color-vars';

//button

%left-button {
    background: $main-color-purple;
    color: $font-color-white;
}

//dropdown

.profile__dropdown-menu {
    background-color: $backgroung_color_black;

    & a {
        color: $font-color-gray2;
        background-color: $backgroung_color_black;

        &:hover {
            color: $backgroung_color_light;
            background-color: $backgroung_color_darkgray;
        }
    }
}

.profile__dropdown:hover .profile__dropdown-menu {
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.61);
}

.profile__dropdown-logout {
    border-top: 1px solid $font-color-gray2;
}

//left panel
.left-panel {
    background: $backgroung_color_black;

    &__join {
        &-button {
            @extend %left-button;
        }
    }
}

.left-panel__menu {
    &-item {
        color: $font-color-gray;

        &:hover {
            color: $backgroung_color_light;
        }

        &--active {
            color: $backgroung_color_light;
            border-right: 4px solid $main-color-purple;
        }

    }
}

//logo
.left-panel__logo {
    &-square {
        background-color: $main-color-purple;
        color: $font-color-white;
    }

    &-text {
        color: $main-color-purple;
    }
}

.left-panel__upgrade {

    background: $banner-gray;

    /*&-text {
        color: $font-color-gray2;
    }*/
    &-button {
        @extend %left-button;
    }
}


//middle part

.course {
    background: $backgroung_color_black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.course {
    &__name {
        color: $font-color-white;
    }

    &__lesson-number {
        color: $font-color-white;
    }

    &__size {
        color: $font-color-white;
    }

    &__run-button {
        background: rgba(255, 255, 255, 0.3);

        & i {
            color: $font-color-white;
        }
    }

    &__teacher {
        border: 3px solid white;
    }
}


.top-menu__searching {
    background: $backgroung_color_black;

    & i {
        color: #AAB8C6;
    }

    &-input {
        color: $backgroung_color_light;
    }

    & input[type="text"] {

        background-color: $backgroung_color_black;

    }
}


// middle part


.middle-part {
    background: $backgroung_color_darkgray;
}


.top-menu {

    &__notifiaction i {
        color: #768492;
    }
}

.courses {

    &__category {
        color: $font-color-gray;

        &:hover {
            color: $main-color-purple;
        }

        &--active {
            color: $main-color-purple;


            & span {
                background: $main-color-purple;
            }
        }


        &-name {
            color: $backgroung_color_light;
        }
    }

}



//right part
.right-part__course {
    &-name {
        color: $backgroung_color_light;
    }

    &-date,
    &-difficulty {
        color: #83919E;
    }
}

.profile {
    &__name {
        color: $backgroung_color_light;
    }

    &__tip {
        & i {
            color: $backgroung_color_light;
        }
    }
}

.right-part {
    background: $backgroung_color_black;

    &__profile {
        background-color: $backgroung_color_black;
    }
}

.right-part {
    &__item-title {
        color: $font-color-gray2;
    }
}

@media screen and (max-width: 1000px) {
    .right-part--copy{
        background:  $backgroung_color_black;
        &__profile {
            background-color: $backgroung_color_black;
        }
    }
    
    
    }

//toggle
.toggle-theme {

    &__wrapper {
        background-color: $backgroung_color_black;
        color: $font-color-gray2;
        
        &:hover{
            background-color: $backgroung_color_darkgray;
        }
    }

    & span {
        background: rgb(22, 22, 22);

        box-shadow: inset 0 2px 15px rgba(0, 0, 0, .2),
            inset 0 2px 2px rgba(0, 0, 0, .2),
            inset 0 -1px 1px rgba(0, 0, 0, .2);
    }

    & .indicator {
        background: linear-gradient(to bottom, #444, #222);

        box-shadow: inset 0 2px 5px rgba(0, 0, 0, .5),
            inset 0 1px 1px rgba(255, 255, 255, .1);


        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 5px;
            height: 5px;
            background: $three-dark;
            border-radius: 50%;
            box-shadow: inset 0 0 2px $three-dark,
                inset 0 0 5px $three-dark,
                inset 0 0 10px $three-dark,
                inset 0 0 15px $three-dark,
                inset 0 0 20px $three-dark,
                inset 0 0 25px $three-dark,
                inset 0 0 30px $three-dark,
                inset 0 0 40px $three-dark;

        }
    }

}

//toggle
.toggle,
.toggleb {
    background: $backgroung_color_black;
}