@import url('https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display&display=swap');

@import './common/variables';
@import './menu';
@import './left-panel';
@import './middle-part';
@import './right-part';
@import './common/check-box';

body,
html {
    padding: 0px;
    margin: 0px;
    cursor: default;
}

:focus {
    outline: none;
}

button,
a {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.wrapper {
    margin: 0 auto;

    display: grid;
    grid-template-columns: 2fr 6fr 3fr;
/*
    height: 100vh;

    min-height: 500px;*/
}

@media screen and (min-width: 1440px) {

    .wrapper {
        margin: 0 auto;
    
        display: grid;
        grid-template-columns: 3fr 5fr 3fr;         
    }

  }
