$backgroung_color_gray: #E5E5E5;
$backgroung_color_white: white;

$banner-gray: #F5F5FB;

$font-color-white: white;
$font-color-gray: #8DA1B5;
$font-color-gray2:#778DAD;
$font-color-dark: #272829;
$font-color-verydark:#011F3B;

$main-color-purple: #5E81F4;

$padding-top: 24px;
$padding-bottom: 24px;

%left-button {
    height: 48px;
    background: $main-color-purple;
    color: $font-color-white;

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
}

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display&display=swap');


body,
html {
    padding: 0px;
    margin: 0px;
    cursor: default;
}

:focus {
    outline: none;
}

button,
a {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.wrapper {
    margin: 0 auto;

    display: grid;
    grid-template-columns: 2fr 6fr 3fr;

    height: 100vh;

    min-height: 500px;
}

.left-panel,
.right-part {
    background: $backgroung_color_white;
}

.middle-part {
    background: $backgroung_color_gray;
    display: grid;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

}

.left-panel {

    & .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__top {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__logo {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-top: $padding-top;

        &-square {
            width: 48px;
            height: 48px;
            border-radius: 12px;
            background-color: $main-color-purple;
            color: $font-color-white;

            display: flex;
            align-items: center;
            justify-content: center;

            font-family: Playfair Display;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;

            & div {
                margin-top: -4px;
            }
        }

        &-text {
            margin-top: 2px;
            margin-left: 10px;

            font-family: Inter;
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 27px;
            display: flex;
            align-items: center;

            color: $main-color-purple;
        }
    }

    &__join {
        margin-top: 20px;

        &-button {
            width: 192px;
            @extend %left-button;
        }
    }

    &__menu {
        max-height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;


        &-item {
            color: $font-color-gray;
            display: grid;
            grid-template-columns: 1fr 2fr;
            height: 30px;
            align-items: center;
            justify-content: center;
            position: relative;



            &:hover {
                color: $font-color-dark;
            }

            &--active {
                color: $font-color-dark;
                border-right: 4px solid $main-color-purple;
                cursor: default;
            }

        }
    }

    $margin-pic: 30px;

    &__upgrade {

        &-wrap {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        height: 180px;
        width: 150px;

        background: $banner-gray;
        border-radius: 12px;
        margin-bottom: $padding-bottom;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: $margin-pic;

        &-logo {
            margin-top: -$margin-pic;
        }

        &-img {
            width: 60px;
            height: auto;
        }

        &-text {
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: $font-color-gray2;
            text-align: center;

            margin-top: 20px;
        }

        &-button {
            margin-top: 10px;
            width: 100px;
            @extend %left-button;
        }
    }
}

.menu-item {
    &__logo {
        margin-left: 50px;
        margin-right: 25px;
        text-align: right;
    }

    &__name {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }
}

.top-menu {

    & .container {
        margin-top: $padding-top;
        margin-left: 40px;
        margin-right: 32px;


        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: space-between;

    }

    &__notifiaction i {
        width: auto;
        height: 25.1px;
        color: #768492;
    }

    &__searching {
        width: 50%;
        height: 56px;
        background: $backgroung_color_white;
        border-radius: 10px;

        display: flex;
        align-items: center;

        & i {
            color: #AAB8C6;
            width: 20px;
            height: 20px;
            margin-left: 23px;
            margin-right: 14px;
        }

        &-input {
            width: inherit;
            margin-right: 23px;
            border: none;

            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 18px;
            color: $font-color-dark;
        }
    }
}

.courses {

    &__nav {
        margin-top: 20px;
        margin-left: 40px;
        margin-right: 32px;

        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: space-between;
    }

    &__category {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 21px;

        height: 26px;
        width: auto;
        color: $font-color-gray;

        &:hover {
            color: $main-color-purple;
        }

        &--active {
            color: $main-color-purple;
            position: relative;
            cursor: default;


            & span {
                display: block;
                position: absolute;
                background: $main-color-purple;
                left: calc(50% - 7.5px);
                bottom: 0;
                width: 15px;
                height: 2px;
                margin-top: 10px;
            }
        }


        &-name {
            font-family: Inter;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 34px;
            color: $font-color-dark;
        }
    }

    &__categories {
        display: flex;
        width: 30%;
        max-width: 319px;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5px;
    }

}

.courses {
    display: grid;
    grid-template-rows: 1fr 6fr;

    &__table {
        margin-left: 40px;
        margin-right: 32px;
        margin-top: 20px;
        margin-bottom: $padding-bottom;

        display: grid;
        grid-gap: 20px;
        grid-template:
            "big big"
            "small1 small2";


    }


}



.course {
    background: $backgroung_color_white;


    &--big {
        grid-area: big;
    }

    &:nth-child(1) {
        background-image: url('../src/img/png/image\ 20.png');
    }

    &:nth-child(2) {
        grid-area: small1;
        background-image: url('../src/img/png/image\ 23.png');
    }

    &:nth-child(3) {
        grid-area: small2;
        background-image: url('../src/img/png/image\ 24.png');
    }

    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    & .container {
        height: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;

    }

    $margin-course: 30px;

    &__top {

        &-left {
            margin: $margin-course;
        }

        &-right {
            margin: $margin-course;

            & .course__size {
                float: right;
            }
        }
    }

    &__bottom {


        &-left {
            margin: $margin-course;
            position: relative;

            & .course__run-button {
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        &-right {
            margin: $margin-course;
            position: relative;

            & .course__teacher {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }
}

.course {
    &__name {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 29px;
        color: $font-color-white;
    }

    &__lesson-number {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: $font-color-white;
        opacity: .8;
    }

    &__size {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: $font-color-white;
        opacity: .8;
        margin-top: 5px;
    }

    &__run-button {
        border: none;

        width: 43px;
        height: 43px;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 6px;

        & i {
            width: 18px;
            height: 18px;
            color: $font-color-white;
            margin-top: 3px;
            margin-left: 2px;
        }
    }

    &__teacher {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 3px solid white;
        background-image: url('../src/img/png/image\ 21.png');

    }
}

$rght-part-mrgleft:32px;

.right-part {
    height: 100vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }


    & .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-top: $padding-top;
        margin-bottom: 20px;
    }

    &__progress,
    &__tasks {
        margin-left: $rght-part-mrgleft;
    }

    &__item-title {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 20px;
    }
}

.profile {
    &__photo {
        margin-left: $rght-part-mrgleft;

        &-img {
            width: 56px;
            height: 56px;
            border-radius: 12px;
        }
    }

    &__name {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        margin-left: 26px;
        color: $font-color-dark;
    }

    &__tip {
        margin-left: 20px;

        & i {
            font-size: 16px;
            color: $font-color-dark;
        }
    }
}

.right-part__course {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 17px;
    width: 100%;
    max-width: 312px;

    position: relative;

    &-logo {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;

        &--blue {
            background: #EEF2FD;
            color: #5E81F4;
        }

        &--green {
            background: #D5F5FB;
            color: #0CC3E7;
        }

        &--orange {
            background: #FFEFD6;
            color: #FFAE33;
        }

    }

    &-info {
        margin-left: 15px;
    }

    &-name {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: $font-color-dark;
    }

    &-date,
    &-difficulty {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 17px;
        color: #83919E;
        margin-top: 5px;
    }

    &-progress {
        position: absolute;
        right: 0;
        margin-right: 30px;

        width: 104px;
        height: 8px;
        border-radius: 21px;

        &--blue {
            background: #EEF2FD;

            & .right-part__course-bar {
                background: #5E81F4;
            }
        }

        &--green {
            background: #D5F5FB;

            & .right-part__course-bar {
                background: #0CC3E7;
            }
        }

        &--orange {
            background: #FFEFD6;

            & .right-part__course-bar {
                background: #FFAE33;
            }
        }

    }
}

.right-part__course-bar {

    height: 8px;
    border-radius: 21px;


    &--one {
        width: 80px
    }

    &--two {
        width: 40px;
    }

    &--three {
        width: 60px;
    }
}

.right-part__banner {
    margin-left: $rght-part-mrgleft;
}

.banner {
    margin-top: 34px;
    width: 300px;
    height: 232px;
    background-image: url(../src/img/png/download.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 14px;

    &__link {
        width: 40px;
        height: 40px;
        background: $backgroung_color_white;

        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        margin-right: 10px;

        &-logo {
            width: auto;
            height: 20px;
        }

        & i {
            font-size: 20px;
        }

        &s {
            display: flex;
            flex-direction: row;
            margin-left: 24px;
            margin-top: 16px;
        }
    }

    &__title {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        /* or 133% */

        color: $font-color-verydark;

        margin-left: 24px;
    }

}