@import './../common/variables';

.menu-item {
    &__logo {
        margin-left: 50px;
        margin-right: 25px;
        text-align: right;
    }

    &__name {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }
}

.left-panel__menu {
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-item {
        color: $font-color-gray;
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: 40px;
        align-items: center;
        justify-content: center;
        position: relative;

        &:hover {
            color: $font-color-dark;
        }

        &--active {
            color: $font-color-dark;
            border-right: 4px solid $main-color-purple;
            cursor: default;
        }

    }
}


@media screen and (min-width: 1440px) {


    .left-panel__menu {
        
    &-item {
        height: 50px;
        
        font-size: 20px;
    }
    }
}