$backgroung_color_gray: #E5E5E5;
$backgroung_color_white: white;

$banner-gray: #F5F5FB;

$font-color-white: white;
$font-color-gray: #8DA1B5;
$font-color-gray2:#778DAD;
$font-color-dark: #272829;
$font-color-verydark:#011F3B;

$main-color-purple: #5E81F4;
$padding-top: 24px;
$padding-bottom: 24px;
